.vscode/
target/
debug/
ref/
lib/
emu6502_raw/
zig-6502
emu6502

Cargo.lock

**/*.rs.bk

*.nib
*.pdb
*.woz
*.dsk
*.hdv
*.2mg
*.bak
*.nes
*.orig
*.gz
*.zip
*.po
*.exe
*.jar
*.yaml
*.bin
*.a2stream
*.lst
*.png
*.svg
*.jpg
*.py
*.class
*.java
