name: Rust

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  # Cleanup old workflow runs (keep only last 5)
  cleanup:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 5

  # Build emu6502
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Apt Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libpipewire-0.3-dev libx11-dev libaudio-dev libasound2-dev libjack-dev libsndio-dev libx11-dev libxext-dev libxrandr-dev libxcursor-dev libpulse-dev libxss-dev libatk1.0-dev libgtk-3-dev libgdk-pixbuf-2.0-dev libcairo2-dev libwayland-dev libdecor-0-dev liburing-dev
    - uses: actions/checkout@v5
    - name: Install Rust Nightly
      run: rustup install nightly
    - name: Build for Linux
      run: cargo +nightly build -r --bin emu6502
    - name: Run tests
      run: cargo +nightly test
